<htlm lang="es">
    <body>
        <h1>Ejercicio 3</h1>
        <h2>Botones en columna (diferente contenedor)</h2>
            <input type = "submit" value = "Boton 1"></input>
            <div><input type = "submit" value = "Boton 2"></input></div>
        <h3>Botones en línea (mismo contenedor)</h3>
            <input type = "submit" value = "Boton 3"></input>
            <input type = "submit" value = "Boton 4"></input>
    </body>
</htlm>